<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DoceDonuts</title>
  <link rel="stylesheet" href="css/style.css" />

</head>

<body>
  <header>
    <a href="/">
      <div class="logo">
        <img class="icon-logo" src="img/rosquinha.png" />
        <h1>DONUTS</h1>
      </div>
    </a>
    <div class="menu">
      <a href="/principaladm" class="ul">Principal</a>
      <a href="/criarcardapio" class="ul" >Criar menu</a>
      <a href="/pedidos" class="ul">Pedidos</a>
      <a href="/perfiladm" class="ul">Meu perfil</a>

      <a href="">
        <img class="icon-phone" onclick="scrollToFooter()" src="img/phone-call.png" />
      </a>
      <a href="/favoritos">
        <img class="icon-coracao" src="img/coracao.png" />
      </a>
      <a href="" onclick="scrollToCart()">
        <img class="icon-carrinho" src="img/carrinho.png" />
      </a>
    </div>
  </header>