<%-include('./cabecalho.ejs')%>
  <div class="principal create-menu">
  <h2 class="menu-title">Criar item para o cardápio</h2>

    <div class="dados">
      <form class="form-dados">
        <div>
          <label>Tipo: </label>
          <select id="status-1" class="status-select">
            <option value="donut">Donut</option>
            <option value="combo">Combo</option>
          </select>
        </div>
    
        <div>
          <label>Nome: </label>
          <input type="text" name="nome" placeholder="Digite o nome do item" required>
        </div>
    
        <div>
          <label for="descricao">Descrição: </label>
          <input type="text" name="descricao" placeholder="Digite a descricao do item" required>
        </div>
    
        <div>
          <label for="valor" >Preço R$:  </label>
          <input type="text" style="width: 60px;" name="valor" id="valor" placeholder="0,00" required>
        </div>
        
    
        <div>
          <label for="image">Imagem: </label>
          <input class="img-create-menu" type="file" name="image" id="image-input" required>
        </div>
    

        <div style="justify-content: center; flex-direction: column;">
          <div class="image-preview" id="image-preview">
            <p>Imagem será exibida aqui</p>
          </div>
          <button style="background-color:#c23350; margin-top: 30px;" type="submit"> Salvar </button>
        </div>
        
      </form>
    </div>
    
    
</div>
<%-include('./rodape.ejs')%>

<script>
  document.getElementById('image-input').addEventListener('change', function(event) {
    const imagePreview = document.getElementById('image-preview');
    const file = event.target.files[0];

    if (file) {
        const reader = new FileReader();

        reader.onload = function(e) {
            imagePreview.innerHTML = '';
            const img = document.createElement('img');
            img.src = e.target.result;
            imagePreview.appendChild(img);
        };

        reader.readAsDataURL(file); 
    } else {
        imagePreview.innerHTML = '<p>Imagem será exibida aqui</p>';
    }
});

</script>
<script>
document.getElementById('valor').addEventListener('input', function (e) {
  let value = e.target.value;
  value = value.replace(/[^0-9.,]/g, '');
  value = value.replace(',', '.');
  const parts = value.split('.');
  if (parts.length > 2) {
    value = parts[0] + '.' + parts[1];
  }
  if (value.includes('.')) {
    const [intPart, decimalPart] = value.split('.');
    value = `${intPart}.${decimalPart.slice(0, 2)}`;
  }
  e.target.value = value;
});
 </script>

