<%-include('./cabecalho.ejs')%>
  <div class="principal create-menu">
  <h2 class="menu-title">Criar item para o cardápio</h2>

    <div class="dados">
      <form class="form-dados">
        <div>
          <label>Tipo: </label>
          <select id="status-1" class="status-select">
            <option value="donut">Donut</option>
            <option value="combo">Combo</option>
          </select>
        </div>
    
        <div>
          <label>Nome: </label>
          <input type="text" name="nome" placeholder="Digite o nome do item" required>
        </div>
    
        <div>
          <label for="descricao">Descrição: </label>
          <input type="text" name="descricao" placeholder="Digite a descricao do item" required>
        </div>
    
        <div>
          <label for="valor" >Preço R$:  </label>
          <input type="text" style="width: 60px;" name="valor" id="valor" placeholder="0,00" required>
        </div>
        
    
        <div>
          <label for="image">Imagem: </label>
          <input class="img-create-menu" type="file" name="image" id="image-input" required>
        </div>
    

        <div style="justify-content: center; flex-direction: column;">
          <div class="image-preview" id="image-preview">
            <p>Imagem será exibida aqui</p>
          </div>
          <button style="background-color:#c23350; margin-top: 30px;" type="submit"> Salvar </button>
        </div>
        
      </form>
    </div>
    
    
</div>
<%-include('./rodape.ejs')%>



