<%-include('./cabecalho.ejs')%>
  <div class="principal perfil">
    <div class="foto">
      <div class="foto-container">
        <img class="foto-perfil" src="img/user.webp" id="profileImage" />
        <label for="fileUpload" class="edit-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5.5 0 0 1-.5.5h-11a.5.5.5 0 0 1-.5-.5v-11a.5.5.5 0 0 1 .5-.5H9a.5.5.5 0 0 0 0-1H2.5A1.5.5.5 0 0 0 1 2.5z"/>
          </svg>
        </label>
        <input type="file" id="fileUpload" name="profilePicture" accept="image/*" onchange="loadFile(event)" />
      </div>
      <div class="info-profile">
      <h2>Mayara Duarte</h2>
      <button class="btn-logout" type="submit">Logout</button>
    </div>
    </div>
    
    <div class="dados-perfil">
      <form class="form-dados">
        <div class="form-row">
          <div class="column">
          <label for="nome">Nome:</label>
          <input type="text" name="nome" placeholder="Digite seu nome" required>
        </div>
        <div class="column">
          <label for="sobrenome">Sobrenome:</label>
          <input type="text" name="sobrenome" placeholder="Digite seu sobrenome" required>
        </div>
      </div>
        <div class="form-row">
        <div class="column">
          <label for="cpf">CPF:</label>
          <input type="text" name="cpf" placeholder="Digite seu CPF" required>
          </div>
        <div class="column">
          <label for="telefone">Telefone:</label>
          <input type="text" name="telefone" placeholder="Digite seu telefone" required>
          </div>
        </div>
      
        <div class="form-row">
          <div class="column ">
            <label for="date">Data de nascimento:</label>
            <input type="date" name="date" required>
          </div>
          <div class="column ">
            <label for="email">Seu email:</label>
          <input type="text" name="email" placeholder="mayara@gmail.com" required>
          </div>
        </div>
      
        <div class="button-row">
          <button>Salvar perfil</button>
        </div>
      </form>
      
    </div>
    
  </div>
<%-include('./rodape.ejs')%>
  