<%-include('./cabecalho.ejs')%>
  <div class="principal pedidos">
    <h2 class="menu-title">Meus Pedidos</h2>
    <div class="cards-container">
      <div class="card-pedidos">
        <div class="card-info">
          <h3>Data: 01/09/2024</h3>
          <p>Donut de Morango (x2)</p>
          <p>Donut de Chocolate (x1)</p>
          <p>Total: R$ 20,00</p>
          <p class="dest">Status: Entregue</p>
          <p>Modo de pagamento: Cartão</p>
          <p class="dest">Endereço de entrega: Rua XXX, número XX, Bairro X. Bagé-RS</p>
        </div>
      </div>
      <div class="card-pedidos">
        <div class="card-info">
          <h3>Data: 02/09/2024</h3>
          <p>Donut de Churros (x3)</p>
          <p>Donut de Morango (x2)</p>
          <p>Donut de Ninho (x1)</p>
          <p>Total: R$ 35,00</p>
          <p class="dest">Status: Pendente</p>
          <p>Modo de pagamento: Cartão</p>
          <p class="dest">Endereço de entrega: Rua XXX, número XX, Bairro X. Bagé-RS</p>
        </div>
      </div>
      <div class="card-pedidos">
        <div class="card-info">
          <h3>Data: 02/09/2024</h3>
          <p>Donut de Churros (x3)</p>
          <p>Donut de Morango (x2)</p>
          <p>Donut de Ninho (x1)</p>
          <p>Total: R$ 35,00</p>
          <p class="dest">Status: Pendente</p>
          <p>Modo de pagamento: Cartão</p>
          <p class="dest">Endereço de entrega: Rua XXX, número XX, Bairro X. Bagé-RS</p>
        </div>
      </div>
      <div class="card-pedidos">
        <div class="card-info">
          <h3>Data: 02/09/2024</h3>
          <p>Donut de Churros (x3)</p>
          <p>Donut de Morango (x2)</p>
          <p>Donut de Ninho (x1)</p>
          <p>Total: R$ 35,00</p>
          <p class="dest">Status: Pendente</p>
          <p>Modo de pagamento: Cartão</p>
          <p class="dest">Endereço de entrega: Rua XXX, número XX, Bairro X. Bagé-RS</p>
        </div>
      </div>
      <div class="card-pedidos">
        <div class="card-info">
          <h3>Data: 02/09/2024</h3>
          <p>Donut de Churros (x3)</p>
          <p>Donut de Morango (x2)</p>
          <p>Donut de Ninho (x1)</p>
          <p>Total: R$ 35,00</p>
          <p class="dest">Status: Pendente</p>
          <p>Modo de pagamento: Cartão</p>
          <p class="dest">Endereço de entrega: Rua XXX, número XX, Bairro X. Bagé-RS</p>
        </div>
      </div>
      <div class="card-pedidos">
        <div class="card-info">
          <h3>Data: 02/09/2024</h3>
          <p>Donut de Churros (x3)</p>
          <p>Donut de Morango (x2)</p>
          <p>Donut de Ninho (x1)</p>
          <p>Total: R$ 35,00</p>
          <p class="dest">Status: Pendente</p>
          <p>Modo de pagamento: Dinheiro</p>
          <p class="dest">Delivery</p>
        </div>
      </div>

    </div>
</div>
<%-include('./rodape.ejs')%>

